In [8]:
from agents import RandomAgent
from environment import market_env

import numpy as np
import pandas as pd

# Simulation 


## Setup

In [9]:
# Declare parameters
n_agents= 100
time_periods = 300

price_list = [100 + np.random.normal() for j in range(100)]
ex_list = np.array([[0]*n_agents, [0]*n_agents])
fee = 0


state0 = {"market_prices": price_list, "execution_status": ex_list, 'fee':fee }
env = market_env(state0)
agents = [RandomAgent(agent_id = j, latency = np.random.normal()) for j in range(n_agents)]



# Initialize agents
for j in range(n_agents):
        agents[j].update(state0)

## Run simulation

In [10]:
for time in range(time_periods):
    state = env.step(agents)
    for j in range(n_agents):
        agents[j].update(state)

# Performance overview

In [11]:
stats_df = pd.DataFrame({"Position":None, "PNL":None}, index = [0]).dropna()
for agent in agents:
    agent.calculate_profit_and_loss(state)
    df_temp = pd.DataFrame({"Position":agent.position, "PNL": agent.pnl}, index = [agent.agent_id])
    stats_df = stats_df.append(df_temp)

print("PNL SUM: ", stats_df["PNL"].sum())
stats_df

PNL SUM:  1.3073986337985843e-12

   Position         PNL
0        -6   16.964856
1        -5  -30.726419
2       -28  124.158606
3        -9    4.057016
4       -10   -4.560924
..      ...         ...
95      -14   92.406917
96        6  -31.561204
97       -5   11.074856
98        4  -30.509052
99      -17   60.768184

[100 rows x 2 columns]